<form class="post-form" id="submit">
    <h2 class="create-post-title">Create Post:</h2>
    <div class="create-post-div">
        <label class="create-post-text">
        Title
        </label>
        <input class="input title" id="title">
        <label class="create-post-text">
            Content
        </label>
        <input class="input content" id="content">
        <button class="button-2">
            Create!
        </button>
    </div>
    
</form>
<div class="post-form-2">

</div>
<script src="/js/create-post.js"></script>