<form class="create-comment" id="submit">
    <div class="create-post-div">
        <h3 class="create-post-title">
            Create Comment
        </h3>
        <input class="input content" id="content">
        <button class="button">
            Create!
        </button>
    </div>
    
</form>
<div class="create-comment-2">

</div>
<script src="/js/create-comment.js"></script>