<section class="post">
    <h3 class="text-light">{{title}}</h3>
    <h4 class="text-light">{{user.username}}</h4>
    <p class="text-light">{{content}}</p>
</section>
{{!-- <section class="post-2">

</section> --}}



{{!-- <div>
    {{#each comments as |comment|}}
    {{> comment}}
    {{/each}}
</div> --}}

