<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogsville</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <nav>
                <a class="navlink" href="/">Home</a>

                <a class="navlink" href="/dashboard">Dashboard</a>
            {{#if loggedIn}}

                <a class="navlink" href="/">Logout</a>

            {{else}}
                <a class="navlink" href="/login">Login</a>
            {{/if}}
        </nav>
        <h1 class="title">
            Blogsville
        </h1>
    </header>
    <div class="separator"> </div>
    <main>
        {{{body}}}
    </main>
    <script src="./index.js"></script>
</body>
</html>