<div class="centering column">
    <section class="centering">
        {{> create-post}}
    </section>
    <section class="centering column">
        {{#each posts as |post|}}
            <div class="post-2">
                {{> post}}
            </div>
            <div class="centering">
                {{> create-comment}}
            </div>
        {{/each}}
    </section>

</div>

