<main class="centering">
    <section class="card1">
        <h2>Login</h2>
        <form class="login flex" id="submit">
            <label class="lg-item">Username:</label>
            <input class="lg-item form-input" type="text" id="username">

            <label class="lg-item">Password:</label>
            <input class="lg-item form-input" type="password" id="password">
            <button class="button"  type="submit">Login</button>
        </form>
        <a class="link" href="/signup">Don't Have an Account? Sign Up!</a>
    </section>
    <div class="card2">

    </div>
    <script src="./js/login.js"></script>
</main>