<main class="centering">
    <section class="card1">
        <h2>Login</h2>
        <form class="login flex">
            <label class="lg-item">Username:</label>
            <input class="lg-item form-input" id="username">

            <label class="lg-item">Password:</label>
            <input class="lg-item form-input" id="password">
        </form>
        <a class="link" href="/signup">Don't have an account? Sign Up!</a>
    </section>
    <div class="card2">

    </div>

</main>