<main class="centering">
    <section class="card1">
        <h2>Sign Up</h2>
        <form class="login flex" id="submit">
            <label class="lg-item">Username:</label>
            <input class="lg-item form-input" type="text" id="username">

            <label class="lg-item">Password:</label>
            <input class="lg-item form-input" type="password" id="password">
            <button class="button" type="submit" >Create</button>
        </form>
        <a class="link" href="/login">Already Have an Account? Login!</a>
    </section>
    <div class="card2">

    </div>
    <script src="./js/signup.js"></script>
</main>